.introSection {
  position: relative;
  margin-top: -100vh;
  background: inherit;
  z-index: 2;
  padding-top: 70px;
}

.title {
  font-family: var(--font-display-slab);
  font-weight: 400;
  font-size: 100px;
  line-height: 0.96;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.tagline {
  font-family: var(--font-mono);
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
  line-height: 1;
}

.editorsNote p {
  font-family: var(--font-editorial);
  font-size: 32px;
  line-height: 1.5;
  color: #2a2a2a;
  display: grid;
  gap: 32px;
  margin-bottom: 2em;
  text-align: center;
}

.editorsNoteSignature {
  text-align: center;
  font-family: var(--font-mono);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 32px;
  line-height: 1;
  margin-top: -32px;
}