:root {
  --background: #ffffff;
  --foreground: #000000;

  --font-ui: "Apercu", sans-serif;
  --font-editorial: "BreveText", serif;
  --font-display: "WiredDisplay", sans-serif;
  --font-mono: "WiredMono", monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ui);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
